[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyodbc = "4.0.39"
psycopg2-binary = "2.9.6"

[dev-packages]
cx-freeze = "6.15.8"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
